@import "../../../common/styles/themes";

:root {
    --rotation-1: -60deg;
    --rotation-2: 0deg;
    --rotation-3: 60deg;
    --rotation-4: 120deg;
    --rotation-5: 180deg;
    --rotation-6: 240deg;
}

.full-row {
    --radius: 216px;
}

.small {
    --width: 100vw;
    --radius: calc(0.42 * var(--width));
}

.x-small {
    --width: 100vw;
    --radius: calc(0.40 * var(--width));
}

@include themify($themes) {
    #projects {
        text-decoration-color: themed(primary);
    }

    .grid > div {
        background-color: themed(opacity);
        border: 2px solid themed(text);
    }

    .featured-p {
        background-color: themed(secondary);
        color: themed(contrast);
    }

    .project-text {
        border: 2px solid themed(text);

        a {
            color: themed(tertiary);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#projects {
    text-decoration: underline;
    text-underline-offset: 8px;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
    width: 100%;

    > div {
        display: flex;
        color: white;
        border-radius: 10px;
        min-height: 300px;
        overflow: auto;
    }
}

.featured-div {
    position: relative;
    overflow: visible !important;
    border-radius: 10px 0px 10px 10px !important;
}

.featured-p {
    position: absolute;
    top: -32px;
    right: -2px;
    padding: 4px 8px 4px;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
}

.full-row {
    grid-column: 1 / -1;
}

.project-img {
    width: 550px;
    padding: 32px;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
    }
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 550px;
}

.img-container {
    display: flex;
    margin-top: 10px;
    width: 504px;
    height: 156px;
    perspective: 1000px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    aspect-ratio: 16 / 9;
    width: 240px;
    height: auto;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.a {
    transform: rotateY(var(--rotation-1)) translateZ(var(--radius));
}
.b {
    transform: rotateY(var(--rotation-2)) translateZ(var(--radius));
}
.c {
    transform: rotateY(var(--rotation-3)) translateZ(var(--radius));
}
.d {
    transform: rotateY(var(--rotation-4)) translateZ(var(--radius));
}
.e {
    transform: rotateY(var(--rotation-5)) translateZ(var(--radius));
} 
.f {
    transform: rotateY(var(--rotation-6)) translateZ(var(--radius));
}

.project-info {
    padding: 32px;
    box-sizing: border-box;
    line-height: 1.5;
    width: 50%;
    min-width: 300px;
}

.title-1 {
    display: none;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

.project-text {
    padding: 8px;
    border-radius: 10px;
    height: 120px;
    overflow: auto;
}

kbd {
    font-family: monospace;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 black;
}

code {
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 3px;
    word-break: break-all;
}

.dark-theme kbd {
    background-color: rgb(227, 230, 232);
    color: black;
}

.light-theme kbd {
    background-color: rgb(59, 59, 59);
    color: white;
}

.dark-theme code {
    background-color: rgb(227, 230, 232);
    color: black;
}

.light-theme code {
    background-color: rgb(59, 59, 59);
    color: white;
}

.project-btn-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 8px;

    .front {
        padding-left: 0;
        padding-right: 0;
    }

    a {
        padding: 6px 15px;
    }
}

.pushable {
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    background: white;
    padding: 6px 15px;
    border-radius: 12px;
    font-size: 1rem;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.dark-theme .pushable {
    background: black;
}

.light-theme .pushable {
    background: rgb(59, 59, 59);
}

.dark-theme .front {
    background: rgb(139, 233, 253);
}

.light-theme .front {
    background: white;
}

@mixin medium-project-div {
    flex-direction: column;
    align-items: center;
    padding: 16px;

    .carousel-container, .project-info {
        padding: 0;
    }

    .carousel-btns {
        margin-top: 24px;
    }

    .title-1 {
        display: block;
        margin-bottom: 16px;
    }

    .title-2 {
        display: none;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-text {
        margin-top: 16px;
    }
}

@mixin small-project-div {
    @include medium-project-div;

    .project-img {
        padding: 8px;
        width: 100%;
    }

    .carousel-container {
        width: 100%;
    }

    .img-container {
        width: 100%;
    }

    .item {
        width: 50%;
    }
}

@mixin x-small-project-div {
    @include small-project-div;

    .title-1 {
        margin-bottom: 0;
    }

    .carousel-btns {
        margin-top: 0;
    }

    .project-info {
        width: 100%;
        min-width: min-content;
    }
}

.small {
    @include small-project-div;
}

.x-small {
    @include x-small-project-div;
}

@media (max-width: 1172px) {
    .full-row {
        @include medium-project-div;
    }
}

@media (max-width: 735px) {
    .full-row {
        --radius: 30vw;
        @include small-project-div;
    }
}

@media (max-width: 584px) {
    .full-row {
        --radius: 28vw;
        @include x-small-project-div;
    }
}