@import "../../../common/styles/themes";

@include themify($themes) {
    #projects {
        text-decoration-color: themed(primary);
    }
}

#projects {
    text-decoration: underline;
    text-underline-offset: 8px;
}
  
