@import "../../../common/styles/themes";

@include themify($themes) {
    #web {
        color: themed(primary);
    }
}

#web {
    opacity: 1 !important;
}

.scrollable {
    aspect-ratio: 16 / 9;
    overflow: scroll;
}

.outline {
    border: 1px solid white;
}