@import "./themes";

$container-padding: min(0.85rem, 68px);
$container-width: 75%;
$menu-element-dimension: min(68px, 2rem);
$menu-btn-font-size: min(34px, 1rem);
$orange: rgb(255, 117, 24);
$pink: rgb(230, 0, 103);
  
@include themify($themes) {
    body {
        background-color: themed(bg);
        color: themed(text);
    }

    .menu {
        background-color: themed(opacity);
        color: white;
    }

    path {
        fill: white;
    }

    #projects-menu-item path {
        fill: white;
    }

    #projects-dropdown {
        background-color: themed(opacity);
        color: white;
    }
}

* {
    font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}

.container {
    background: none;
    width: $container-width;
    height: 100%;
    margin: 0 auto;
}

.menu {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 10px;
    margin-top: 16px;
    z-index: 3;

    > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;

        &:last-child {
            gap: 20px;
        }
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

#projects-menu-item {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
        width: 25px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

#projects-dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: 8px;
    border-radius: 0px 0px 10px 10px;
    z-index: 3;

    a {
        opacity: 75%;

        &:hover {
            opacity: 100%;
        }
    }
} 

.hide {
    display: none !important;
}

svg {
    width: 30px;
}

#home:hover {
    transform: scale(1.2);
}

#moon:hover, #audio-on:hover, #audio-off:hover {
    animation: swing 2s infinite;
}

#sun:hover {
    animation: spin 4s infinite;
}

#audio-off {
    display: none;
}

.content {
    padding: $container-padding;
}

h1 {
    font-size: 3rem;
    padding: 0;
    margin: 100px 0px 46px;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes swing { 
    20% { transform: rotate(15deg); } 
    40% { transform: rotate(-10deg); } 
    60% { transform: rotate(5deg); } 
    80% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); } 
} 

@media (max-width: 680px) {
    @include themify($themes) {
        .menu > div {
            background-color: themed(opacity);
        }
    }

    .dark-theme .menu, .light-theme .menu, .menu {
        background: none !important;
    }

    .menu {
        flex-direction: column;
        gap: 0;

        > div {
            gap: 10px;
            padding: 8px;
            border-radius: 10px;
        }

        > div:first-child {
            justify-content: space-between;
            order: 2;
            border-radius: 10px 0px 10px 10px;
        }

        > div:last-child {
            justify-content: center;
            width: 100px;
            margin-left: auto;
            border-radius: 10px 10px 0px 0px;
        }
    }
}
  