@import "../../common/styles/themes";

@include themify($themes) {
    #about {
        text-decoration-color: themed(primary);
    }

    #about-content, #animation-btn, #chess-btn {
        background-color: themed(opacity);
        border: 2px solid themed(text);
    }

    #hello-option {
        border: 2px solid themed(text);
    }

    .learning {
        background-color: themed(primary);
    }

    .creating {
        background-color: themed(senary);
    }

    .sharing {
        background-color: themed(tertiary);
    }
}

#about {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#about-box {
    display: flex;
}

#about-content {
    flex-grow: 1;
    min-height: 500px;
    max-height: 531px;
    padding: 32px;
    border-radius: 10px;
    margin-right: 16px;
    line-height: 1.5;
    overflow: auto;

    h2 {
        margin: 0;
    }
}

.gt {
    color: rgb(179, 163, 105);
    font-weight: bold;
}

.slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    > div {
        display: flex;
        flex-direction: column;
        color: black;
        padding: 16px;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
    }
}

.content {
    margin-top: 8px;
    padding: 0;
}

.active {
    flex: 5;
}

.inactive {
    // writing-mode: vertical-rl;
    // text-orientation: upright;
    justify-content: center;
    flex: 1;

    h2 {
        transform: rotate(90deg);
    }

    .content {
        display: none;
    }
}
  
#about-options {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#hello-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    border-radius: 75px;
    animation: wave 2.1s 0.6s infinite;
}

#hobbies-options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > div:first-child {
        font-size: x-large;
        text-align: center;
    }
}

#hello-option, #animation-btn, #chess-btn {
    aspect-ratio: 1 / 1;
    width: 150px;
}

#animation-btn, #chess-btn {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
}

#animation-btn video {
    width: 80%;
    height: 80%;
}

#chess-btn video {
    width: 58%;
    height: 80%;
}

.light-theme .selected {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dark-theme .selected {
    box-shadow: 5px 3px 120px 30px rgba(255, 255, 255, 0.3),
    2px 1px 10px 10px rgba(0, 0, 0, 0.4);
}

@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

@media (max-width: 1172px) {
    .slider-container {
        flex-direction: column;
    }

    .inactive {
        h2 {
            transform: rotate(0deg);
        }
    }
}

@media (max-width: 800px) {
    #about-box {
        flex-direction: column;
        gap: 16px;
    }

    #about-content {
        order: 2;
        margin: 0;
    }

    #about-options, #hobbies-options {
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

    #hobbies-options {
        display: grid;
        grid-template-rows: min-content 150px;
        grid-template-columns: 150px 150px;
        gap: 8px;

        > div:first-child {
            grid-column: 1 / 3;
        }
    }
}

@media (max-width: 692px) {
    #about-options, #hobbies-options {
        gap: 8px;
    }

    #hello-option {
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
    }

    #hobbies-options {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 150px;

        > div:first-child {
            display: none;
        }
    }

    #animation-btn, #chess-btn {
        background: none !important;
        border: none !important;
        width: 60px;
        height: 60px;
        box-shadow: none;
    }
}


