@import "../../common/styles/themes";
@import "./background";

@include themify($themes) {
    .menu, #projects-dropdown, .wrap div {
        background-color: themed(opacity) !important;
        color: white !important;

        path {
            fill: white !important;
        }
    }

    .wrap div {
        border-bottom: 2px solid themed(error); 

        input {
            accent-color: themed(tertiary);
        }
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#homeBgVid {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 0;
}

.gradient-bg {
    position:absolute;
    display: none;
    z-index: 0;
}

.gradient-container, .container {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap {
    display: flex;
    justify-content: end;
    width: 100%;

    div {
        font-size: 0.9rem;
        text-align: end;
        padding-left: 8px;
        padding-right: 5px;
        border-radius: 0px 0px 10px 10px;
    }
}

.menu {
    border-radius: 10px 10px 0px 10px;
}

img {
    position:absolute;
    display: none;
    width: max(350px, 50%);
    z-index: 1;
}

@media (max-aspect-ratio: 155/100) {
    .menu {
        border-radius: 10px;
    }

    #homeBgVid {
        display: none;
        visibility: hidden;
    }

    .gradient-bg {
        display: block;
    }

    img {
        display: block;
    }

    .wrap {
        display: none;
    }
}

@media (max-width: 680px) {
    @include themify($themes) {
        .menu > div {
            background-color: themed(opacity);
        }
    }

    .dark-theme .menu, .light-theme .menu, .menu {
        background: none !important;
    }

    .wrap {
        margin-top: -8px;
        margin-left: 15px;

        >div {
            margin-right: auto;
        }
    }
}

@supports (-webkit-touch-callout: none) {
    .menu {
        border-radius: 10px;
    }

    video {
        display: none !important;
        visibility: hidden !important;
    }

    .gradient-bg {
        display: block !important;
    }

    .wrap div {
        display: none !important;
    }

    img {
        display: block !important;
    }
}